/* EJERCICIO 3.1 **********************/
/* nombreCentro{
  display: block;
  font-size: 1.2em;
}
web{
  display: block;
  padding-bottom: 10px;
}
ciclos{
  display: table;
  border: black 2px solid;
  border-spacing: 10px;
  margin: auto;

}
ciclo{
  display: table-row;
}
nombre,grado,decretoTitulo{
  border:black 2px solid;
  display: table-cell;
  padding: 10px;
} */




/* ies {
    font-family: sans-serif;
  }
  
  nombreCentro {
    display: block;
    font-size: 120%;
  }
  
  web {
    display: block;
    margin-bottom: 10px;
  }
  
  ciclos {
    display: table;
    border-spacing: 10px;
    border: black 1px solid;
    margin-left: auto;
    margin-right: auto;
  }
  
  ciclo {
    display: table-row;
  }
  
  nombre, grado, decretoTitulo {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
  } */

  /* EJERCICIO 3.2 *****************************/

  /* ies{
    display: table;
    margin: auto;
    
  }
  nombreCentro{
    display: block;
    font-size: 1.5em;
    text-align: center;
    background-color: grey;
    margin-bottom: 10px;
    
  }
  web{
    display: none;
   
  }
  ciclos{
    display: table;
    border: black 2px solid;
    border-spacing: 10px;
    margin: auto;
    padding: 5px;
  
  }
  ciclo{
    display: table-row;
  }
  nombre,grado,decretoTitulo{
    border:black 2px solid;
    display: table-cell;
    padding: 10px;
  } */

  /* ies {
    font-family: sans-serif;
    display: table;
    border-spacing: 10px;
    border: black 1px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  
  nombreCentro {
    display: table-caption;
    text-align: center;
    background-color: #DDDDDD;
    font-size: 150%;
    text-align: center;
    margin-bottom: 5px;
  }
  
  web {
    display: none;
  }
  
  ciclos {
  }
  
  ciclo {
    display: table-row;
  }
  
  nombre, grado, decretoTitulo {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
  } */
  

  /* EJERCICIO 3.3 **********************/

  /* nombreCentro{
    display: block;
    float: left;
  }
  web{
    display: block;
    float: right;
    margin-bottom: 10px;
  }
  ciclos{
    display: block;
    clear: both;

    Esto asegura que el elemento ciclos se posicione después de todos los elementos flotantes anteriores en el flujo del documento. En otras palabras, no permitirá que los elementos flotantes (con float: left; o float: right;) se sitúen a los lados del elemento ciclos.
  }
  ciclo{
    display: table;
    border: black 2px solid;
    border-spacing: 10px;
    La propiedad border-spacing en CSS se utiliza para definir el espacio entre los bordes de las celdas de una tabla
    margin: auto;
    width: 50%;
    sino queda muy estrecho, preguntar por que 
    margin-bottom: 15px;
  }
  nombre{
    display: table-caption;
    text-align: center;
    background-color: grey;
    margin-bottom: 10px;
  }
  grado,decretoTitulo{
    display: table-cell;  
    border: black 1px solid;
    padding: 10px;
  } */

  /*solucion de la pagina************************/
  /* ies {
    font-family: sans-serif;
  }  
  nombreCentro {
    display: block;
    float: left;
    font-size: 120%;
  }  
  web {
    display: block;
    float: right;
    font-size: 120%;
    margin-bottom: 10px;
  }  
  ciclos {
    display: block;
    clear: both;
  }  
  ciclo {
    display: table;
    border-spacing: 10px;
    border: black 1px solid;
    font-size: 120%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 50%;
  }  
  nombre {
    display: table-caption;
    background-color: #DDDDDD;
    text-align: center;
    margin-bottom: 5px;
  }  
  grado, decretoTitulo {
    background-color: white;
    border: black 1px solid;
    display: table-cell;
    padding: 10px;
  } */
  

  /* EJERCICIO 3.4 */
  




  /* ies {
    font-family: sans-serif;
  }
  
  nombreCentro {
    display: block;
    float: right;
    font-size: 120%;
  }
  
  web {
    display: block;
    float: left;
    font-size: 120%;
    margin-bottom: 10px;
  }
  
  ciclos {
    display: block;
    clear: both;
  }
  
  ciclo {
    display: table;
    border-spacing: 10px;
    border: black 1px solid;
    float: left;
    margin: 10px;
  }
  
  nombre, grado, decretoTitulo {
    background-color: lightgreen;
    display: table-row;
    padding: 10px;
  } */